* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
}
.board {
  max-width: 750px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#score,
#btnStart {
  font-family: "Share Tech Mono", monospace;
}
#score {
  font-size: 16pt;
  border-radius: 15px;
  padding: 5px;
}
#btnStart {
  background: #451e2e90;
  color: transparent;
  stroke-width: 12px;
  font-size: 16pt;
  border-radius: 15px;
  padding: 5px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
.controlScore {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.square {
  aspect-ratio: 1;
}
.foodSquare {
  background-color: #ff4e5aee;
  border-radius: 50%;
}
.squareSnake {
  background-color: #81822df6;
  border-radius: 50%;
}
.emptySquare {
  background-color: #97ca49ee;
  border-radius: 50%;
}
